*
{
	width: 100%;
	margin:20px;
	padding:20px;
	background-color: #F3EBE9 ;
}

h2
{
	color: red;
}
.champ_connexion
{
	width: 100%;
	height: 30px;
}
.tableau_acteur
{
	width: 70%;
	border-radius: 10px 10px 10px 10px;
	border: 2px solid red;
	margin-bottom: 10px;
	padding-bottom: 70px;
}
.colonne_desc
{
 max-width: 40%;
 text-overflow: auto;
}
.likes
{
	font-size: 40px;
}
.commentaire
{
	padding-top:-10;
}
.espace_commentaire
{
	text-align: left;
	background-color: #FBF1EF;
	overflow: visible;
}
h1
{
	font-style: italic;
	font-size: 50px;
	text-align: justify-all;
}

li
{
	font-style: italic; font-size: 20px;
}
body, html
{
	height:auto;
}
#main
{

max-width:1280px;

min-height:100%;

margin:0 auto;

position:relative;

}
footer
{
	position:absolute;
	bottom:0;
	padding-top: 10px;
	height: 30px;
	width: 100%;
}
@media all and (max-width: 1024px)

{
  * 
  {
  	width: auto;
  	vertical-align: middle;

  }
  .champ_connexion
  {
  	width: auto;
  	height: 20px;
  	vertical-align: middle;
  }
  #main
  {
  	width: auto;
  }
  .tableau_acteur
  {
  	width: auto;
  }

}